<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notes"
        tools:targetApi="31">
        <activity
            android:name=".Edit"
            android:exported="false"
            android:label="@string/title_activity_edit"
            android:theme="@style/Theme.Notes" />
        <activity
            android:name=".Notes"
            android:exported="false" />
        <activity
            android:name=".ServerSelect"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_notes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnaEA"
            android:exported="false" />
        <activity
            android:name=".deprecated.ServerManageActivity"
            android:exported="false" />
        <activity
            android:name=".deprecated.EasterActivity"
            android:exported="false" />
        <activity
            android:name=".deprecated.WebInfo"
            android:exported="false" />
        <activity
            android:name=".deprecated.WebLogin"
            android:exported="false" />
        <activity
            android:name=".deprecated.EditActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".deprecated.Notes"
            android:exported="true"
            android:theme="@style/Theme.Notes"></activity>
        <activity
            android:name=".deprecated.Welcome"
            android:exported="false"
            android:label="@string/title_activity_notes"
            android:theme="@style/Theme.Notes" />
    </application>

</manifest>